[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/TaskList"]
	path = bundle/TaskList
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "bundle/gundo.vim"]
	path = bundle/gundo.vim
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:dstanek/syntastic.git
[submodule "bundle/zoom.vim"]
	path = bundle/zoom.vim
	url = https://github.com/vim-scripts/zoom.vim.git
[submodule "bundle/vim-virtualenv"]
	path = bundle/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv.git
[submodule "pylibs/pyflakes"]
	path = pylibs/pyflakes
	url = https://github.com/kevinw/pyflakes.git
[submodule "bundle/python_match.vim"]
	path = bundle/python_match.vim
	url = https://github.com/vim-scripts/python_match.vim.git
[submodule "bundle/EasyMotion"]
	path = bundle/EasyMotion
	url = https://github.com/vim-scripts/EasyMotion.git
[submodule "pylibs/rope"]
	path = pylibs/rope
	url = git@github.com:dstanek/rope.git
[submodule "pylibs/ropemode"]
	path = pylibs/ropemode
	url = git@github.com:dstanek/ropemode.git
[submodule "pylibs/ropevim"]
	path = pylibs/ropevim
	url = git@github.com:dstanek/ropevim.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-conque"]
	path = bundle/vim-conque
	url = https://github.com/rson/vim-conque.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets.git
[submodule "bundle/vim-makegreen"]
	path = bundle/vim-makegreen
	url = https://github.com/reinh/vim-makegreen.git
[submodule "pylibs/nose"]
	path = pylibs/nose
	url = https://github.com/nose-devs/nose.git
[submodule "pylibs/nose-machineout"]
	path = pylibs/nose-machineout
	url = https://github.com/nvie/nose-machineout.git
[submodule "bundle/nose.vim"]
	path = bundle/nose.vim
	url = https://github.com/lambdalisue/nose.vim.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
